<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/img/Logo-sin-fondo.png" alt="DreamStay" style="height: 200px; width: 200px;">
            <div class="footer-lema">
                <p>"Conéctate con el mundo, encuentra tu hogar en cualquier parte."</p>
            </div>
        </div>
        <div class="footer-contacto">
            <h3 class="titulo-footer">Contacto</h3>
            <p>Teléfono: 449-910-74-00 EXT. 10014</p>
            <p>Dirección: Av. Universidad 940, Ciudad Universitaria, Universidad Autónoma de Aguascalientes, 20110 Aguascalientes.</p>
        </div>
        <div class="footer-nosotros">
            <h3 class="titulo-footer">Nosotros</h3>
            <p>"Somos anfitriones de Airbnb dedicados a ofrecerte experiencias únicas en alojamientos de calidad. Desde acogedoras cabañas hasta lujosas villas, estamos aquí para que disfrutes de cada estadía al máximo." </p>
        </div>
        <div class="footer-siguenos">
            <h3 class="titulo-footer-siguenos">Síguenos</h3>
            <div class="redes-sociales">
                <a href="https://www.facebook.com/uaa.mx/?ref=br_rs"><i class="fab fa-facebook-square fa-xl"></i></a>
                <a href="https://x.com/uaa_mx"><i class="fab fa-twitter-square fa-xl"></i></a>
                <a href="https://www.instagram.com/uaa_mx/?igshid=MzRlODBiNWFlZA%3D%3D"><i class="fab fa-instagram-square fa-xl"></i></a>
                <a href="https://www.tiktok.com/@uaa_mx?_t=8evCnXOezJO&_r=1"><i class="fab fa-tiktok fa-xl"></i></a>
            </div>
        </div>
    </div>
</footer>