ul {
  list-style: none;
  padding: 0;
}

/* Estilos para los botones */
button {
  background-color: #16a085;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin: 0 auto;
  font-size: 35px;
}

/* Estilos para los contenedores de citas */
li {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 1200px; /* Ancho máximo del formulario */
  margin: 0 auto; 
  font-size: 30px;
}

/* Estilos para las etiquetas fuertes */
strong {
  font-weight: bold;
}

