html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background: linear-gradient(-45deg, #aed6f1, #eafdcf, #a3e4d7, #aed6f1);
  background-size: 1500% 1500%;
  animation: gradientAnimation 10s ease infinite;
  color: white; 
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
